project_id = "cxpsnzvqarrafqdafmur"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.cleaning-chat]
verify_jwt = false

[functions.send-lead-sms]
verify_jwt = false

[functions.send-lead-email]
verify_jwt = false
